<div class="bg-black text-white font-josefin">
    <Navbar.navbar />
    <MyCard.section />
    <SkillSection.section />
    <ProjectSection.section />
    <AboutSection.section />
    <ContactSection.contactMe />
    <Footer.footer />
</div>
